accelerate
bitsandbytes
diffusers
einops
fal-client
flask
flask-cors
kornia
modal
numpy
opencv-python
pillow
pycryptodome
python-dotenv
requests
safetensors
scipy
timm
toml
torch
torchvision
transformers
